body {
  background: url("img/galaisback.png") no-repeat center center !important;
  background-size:cover !important;
}

.c-hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.c-hero-container__main {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.c-hero-container__social {
  margin-top: 10px;
  display: flex;
  align-items: baseline;

  div+div {
    margin-left: 10px;
  }
}

.c-hero-container__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    -webkit-flex-direction: column; /* Safari */
    flex-direction: column;
}

$fi-path: "fonts";

@import "bower_components/foundation-sites/foundation-sites";
@import "bower_components/animate.css/animate";
@import "bower_components/foundation-icon-fonts/_foundation-icons";
@import "bower_components/magnific-popup/dist/magnific-popup.css";
