$grid-row-width: "expand";

.section{
  background-size: cover;
}
.slide{
  background-size: cover;
}



@media screen and (max-width: 640px) {

  .c-hero-container {
    height:170px !important;
    margin-top: 50px !important;
  }

  .c-hero-container__info {
    height:170px !important;
  }

  .c-hero-container__book {
    height:170px !important;
  }

  .c-hero-container__logo {
    height:170px !important;
  }
}


.header__gala {
    background:  url("img/galaisback.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    overflow:hidden;
    min-height:100%;
}

.content__gala
{
    background:url("img/galaisen.png") no-repeat center center fixed !important;
    background-size:cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    overflow:hidden;
    min-height:100%;
    padding:50px;
}

.informations__gala
{
  background:  url("img/waitingyou.png") no-repeat center center fixed !important;
  background-size:cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  min-height:100%;
  padding:50px;
}

.book__gala
{
  background:  url("img/booking.png") no-repeat center center fixed !important;
  background-size:cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  min-height:100%;
  padding:50px;
}

.access__gala
{
  background:  url("img/jbhalls.png") no-repeat center center fixed !important;
  background-size:cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  min-height:100%;
  padding:50px;
}

.contact__gala
{
  background: url("img/contact.png")  no-repeat center center fixed !important;
  background-size:cover !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  min-height:100%;
  padding:50px;
}

.c-hero-container {
  margin-top:400px;
  height:116px;
}

.c-hero-container__desc
{
  display:flex;
  flex-direction:column;
  flex-flow: column wrap;
  float:left;
  text-align:justify;
}

.c-hero-container__desc__general
{
  display:flex;
  text-align:justify;
}

.c-hero-container__desc__gala
{
  display:flex;
  width:50%;
  flex-direction: row;
  flex-flow: row wrap;
  text-align:justify;
  padding-top:20px;
  justify-content: center;
}


.c-hero-container__desc__gala__1, .c-hero-container__desc__gala__2
{
  padding:5px;
}

.c-hero-container__desc__photo
{
  display:flex;
  margin-left:200px;
  text-align:justify;
}

.c-hero-container__logo {
  display: flex;
  height:116px;
  justify-content: center;
  align-items: center;
}

.c-hero-container__form {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.c-hero-container__info {

  padding-top:15px;
}

.c-hero-container__book {
  display: flex;
  background:rgba(230,212,88,1);
  height:116px;
  justify-content: center;
  align-items: center;
  margin-left:auto;
}

.c-hero-container__book a:hover
{
  text-decoration:underline;
}

.c-hero-container__social {
  display: flex;
  align-items: baseline;

  div+div {
    margin-left: 10px;
  }
}

.footer__gala
{
  background: black;
  padding:50px;
}



.c-hero-container__info h2{
  text-transform:uppercase;
  color: #FFFFFF;
  font-size: 1.714rem;
  margin-bottom: 0;
  line-height: 1.3em;
  font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
}

.c-hero-container__info h3{
  text-transform:uppercase;
  font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  color: #FFFFFF;
  font-size: 1em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.c-hero-container__info h4{
  text-transform:uppercase;
  font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  color: #E6D458;
  font-size: 1.714em;
  margin-bottom: 0;
  line-height: 1.3em;
}

.c-hero-container__book h2
{
  text-transform:uppercase;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
}

.content__gala h2, .informations__gala h2, .footer__gala h2, .contact__gala h2, .access__gala h2, .book__gala h2
{
  text-transform:uppercase;
  color: #E6D458;
  font-size: 1.5rem;
  font-family: "Lato", "Alfa Slab One", Open Sans,sans-serif;
}

$fi-path: "fonts";

@import "bower_components/foundation-sites/foundation-sites";
@import "bower_components/animate.css/animate";
@import "bower_components/foundation-icon-fonts/_foundation-icons";


