.section{
  background-size: cover;
}
.slide{
  background-size: cover;
}

@media screen and (max-width: 640px) {
  .header__gala {
      background:  url("img/galaisback.png") no-repeat center center fixed !important;
      background-size:cover !important;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -o-background-size: cover !important;
      min-height: 100%;
  }

  #logo1
  {
    display:none;
  }

  #logo2
  {
    display:block;
  }

  .c-hero-container {
    display: flex;
    flex-direction: column;
  }

  .c-hero-container__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:75px;
  }

  .c-hero-container__info {
    display: flex;
    flex-direction : column;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    height:116px;
  }

  .c-hero-container__book {
    display: flex;
    background:rgba(230,212,88,1);
    height:116px;
    justify-content: center;
    align-items: center;
  }

  .c-hero-container__book a:hover
  {
    text-decoration:underline;
  }

  .c-hero-container__social {
    display: flex;
    align-items: baseline;

    div+div {
      margin-left: 10px;
    }
  }

  .c-hero-container__info h2{
    text-transform:uppercase;
    color: #FFFFFF;
    font-size: 1.714rem;
    margin-bottom: 0;
    line-height: 1.3em;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  }

  .c-hero-container__info h3{
    text-transform:uppercase;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  .c-hero-container__info h4{
    text-transform:uppercase;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
    color: #E6D458;
    font-size: 1.714em;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  .c-hero-container__book h2
  {
    text-transform:uppercase;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  }
}


@media screen and (min-width: 640px) {

  .header__gala {
      background:  url("img/galaisback.png");
  }

  .content__gala
  {
      background:url("img/galaisen.png");
      padding:50px;
  }

  #logo1
  {
    display:block;
  }

  #logo2
  {
    display:none;
  }

  .c-hero-container {
    display: flex;
    flex-direction: row;
    height:116px;
  }

  .c-hero-container__desc
  {
    display:flex;
    flex-direction:column;
    flex-flow: column wrap;
    float:left;
    text-align:justify;
  }

  .c-hero-container__desc__general
  {
    display:flex;
    width:50%;
    text-align:justify;
  }

  .c-hero-container__desc__gala
  {
    display:flex;
    width:50%;
    flex-direction: row;
    flex-flow: row wrap;
    text-align:justify;
    padding-top:20px;
  }

  .c-hero-container__desc__gala__1, .c-hero-container__desc__gala__2
  {
    width:50%;
    padding:5px;
  }

  .c-hero-container__desc__photo
  {
    display:flex;
    width:70%;
    margin-left:200px;
    text-align:justify;
  }

  .c-hero-container__logo {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    width: 200px;
    height:116px;
    justify-content: center;
    align-items: center;
  }

  .c-hero-container__form {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .c-hero-container__info {
    display: flex;
    flex-direction : column;
    background: rgba(0, 0, 0, 0.8);
    width: 420px;
    height:116px;
    padding-top:15px;
  }

  .c-hero-container__book {
    display: flex;
    background:rgba(230,212,88,1);
    width: 150px;
    height:116px;
    justify-content: center;
    align-items: center;
    margin-left:auto;
  }

  .access__gala_map
  {
    display: flex;
    width:100%;
  }

  .access__gala_infos
  {
    display: flex;
    margin:auto;
    padding:10px;
  }

  .c-hero-container__book a:hover
  {
    text-decoration:underline;
  }

  .c-hero-container__social {
    display: flex;
    align-items: baseline;
    padding-left: 30px;

    div+div {
      margin-left: 10px;
    }
  }

  .informations__gala
  {
    background:  url("img/waitingyou.png");
    padding:50px;
  }

  .access__gala
  {
    background:  url("img/gala.png");
    display: flex;
    padding:50px;
  }

  .footer__gala
  {
    background: black;
    padding:50px;
  }

  .contact__gala
  {
    background: url("img/contact.png");
    display:flex;
    padding:50px;
  }

  .c-hero-container__info h2{
    text-transform:uppercase;
    color: #FFFFFF;
    font-size: 1.714rem;
    margin-bottom: 0;
    line-height: 1.3em;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  }

  .c-hero-container__info h3{
    text-transform:uppercase;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
    color: #FFFFFF;
    font-size: 1em;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  .c-hero-container__info h4{
    text-transform:uppercase;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
    color: #E6D458;
    font-size: 1.714em;
    margin-bottom: 0;
    line-height: 1.3em;
  }

  .c-hero-container__book h2
  {
    text-transform:uppercase;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: 'Lato', "Alfa Slab One", Open Sans,sans-serif;
  }

  .content__gala h2, .informations__gala h2, .footer__gala h2, .contact__gala h2, .access__gala h2
  {
    text-transform:uppercase;
    color: #E6D458;
    font-size: 1.5rem;
    font-family: "Lato", "Alfa Slab One", Open Sans,sans-serif;
  }

  .topbar__gala
  {
    width:100%;
    height:60px;
    background: rgba(255,255,255,1);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    -webkit-flex-direction: row; /* Safari */
    flex-direction: row;
  }

  .topbar__gala__item
  {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .topbar__gala__logo
  {
    width:10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}




$fi-path: "fonts";

@import "bower_components/foundation-sites/foundation-sites";
@import "bower_components/animate.css/animate";
@import "bower_components/foundation-icon-fonts/_foundation-icons";
@import "bower_components/magnific-popup/dist/magnific-popup.css";
