body{
    color:#FFFFFF;
    font-family:'Lato', Open Sans,sans-serif;
}

.social a, .c-hero-container__book a {
    color:#FFFFFF;
}

.button{
    background:#E6D458;
    border-radius:2px;
}
.button:hover, .button:focus{
    background:#AA040D;
}
.back
{
    background-color: rgba(0,0,0,0.8);
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

li {
    float:left; /* IE*/
    margin: 5px;
}

ul.social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #FFFFFF;
    background: rgba(230,212,88,0.3);
    border-radius: 50%;
    transition: all 0.3s ease-out;
    text-align: center;
}

ul.social li a:hover {
    background-color: #E6D458;
}

.box-icon {
    background-color: #E6D458;
    border-radius: 50%;
    display: table;
    margin: 0 auto;
    font-size: 3rem;
}

.box {
    border-radius: 3px;
    background-color:rgba(0,0,0,0.8);
    padding: 10px 25px;
    margin-right: 20px;
    display:block;
}
.photo{
    overflow:hidden;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;
    width:100px;
    height:100px;
}

.box-icon span {
    color: #fff;
    display: table-cell;
    text-align: center;
}
a
{
    color:#E6D458;
    transition: all 0.3s ease-out;
}

.topbar__gala__item a:hover
{
    color:#D9C120;
}

.topbar__gala
{
    background:#000000;
}

table, th, td {
    background:black;
    border: 0.01px solid black;
}

.box h5
{
    text-transform:uppercase;
    color: #E6D458;
    font-size: 1rem;
    font-family: "Lato", "Alfa Slab One", Open Sans,sans-serif;
}

#hours
{
    text-transform:uppercase;
    color: #E6D458;
}